<template>
  <div class="write-word">
    <h2 v-if="days">Dzień {{ day }}</h2>
    <div class="" v-if="resWord">
      <h1>{{ currentWordPL }}</h1>
      <div :class="[ err ? errClass : 'cold-class']" class="answer-container" v-if="resWord">
        <h2>{{ correctLetters }}</h2>
        <input type="text" onfocus="placeholder=''" placeholder="Tutaj wpisz odpowiedz..." v-model="answer" @input="checkAns" autofocus>
      </div>
      <div v-if="check">
        <div v-if="currentWordPL.length > 1" @click="help">
          <p>Trudne? Kliknij po podpowiedz!</p>
          <h3 v-if="needHelp">{{ helpAns }}</h3>
        </div>
      </div>
    </div>
    <div v-if="lvl > 1">
      <p>Ukończyłeś dzisiaj {{ lvl &lt; 10 ? lastNumberLvl-1 : lastNumberLvl }} z 10 poziomów na dziś.</p>
    </div>
    <div class="lvl-up-message" :class="{ congrats: congrats }" @click="congrats = false">
      <h2>Koniec wersji testowej!</h2>
      <p>Niedługo pojawi się baza danych z większą ilością słów. Dziękuję za przetestowanie aplikacji.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Challenge',
  props: ['resWord'],
  data: function() {
    return {
      countWord: 0,
      lvl: 1,
      day: 1,
      lastNumberLvl: 0,
      iter: 0,
      correctLetters: '',
      currentWordPL: '',
      currentWordEN: '',
      currWordArrEN: [],
      answer: '',
      ansArr: [],
      mistakes: 0,
      missAnsArr: [],
      missAnswers: false,
      err: false,
      errClass: 'err-class',
      helpAns: '',
      needHelp: false,
      congrats: false
    }
  },
  methods: {
    checkAns: function() {
      this.iter = this.ansArr.length;

      if(this.iter < this.currWordArrEN.length-1) {  // if word is not complete
        if(this.currWordArrEN[this.iter] == this.answer) { // check letter
            this.addLetter(); // correct letter
          } else {
            this.answer = '';
            this.mistake(); // mistake
          }
      } else if(this.iter == this.currWordArrEN.length-1) { // if word is complete
        if(this.currWordArrEN[this.iter] == this.answer) { // if word is correct
          if(this.countWord+1 <= `${this.lvl}0`) {  // if lvl is not complete
            if(this.countWord < this.resWord.length-1) {
              this.nextWord(); // generate next word
              } else {
                this.complete();
              }
          } else {  // if lvl is complete
            if(this.missAnsArr.length > 0) { // any mistakes?
              this.correctMistakes();
            } else { // if 0 mistakes - lvl up!
                this.lvlUp();
            }
          }
        } else {
          this.answer = '';
          this.mistake();
          }
        }
    },
    gameOver: function() {
      this.correctLetters = this.currentWordEN;
      this.missAnsArr.push(this.countWord);
      setTimeout(() => this.reset(), 1500);
    },
    complete: function() {
      this.addLetter();
      setTimeout(() => this.reset(), 300);
      this.congrats = true;
      this.countWord = 0;
      localStorage.setItem('countWord', parseInt(this.countWord));
      setTimeout(() => this.congrats = false, 5000)
    },
    nextWord: function() {
      this.addLetter();
      this.needHelp = false;
      setTimeout(() => {
        this.reset();
        this.countWord++;
        localStorage.setItem('countWord', parseInt(this.countWord));
      }, 300)
    },
    mistake: function() {
      this.err = true;
      this.mistakes++;
      this.mistakes == 3 ? this.gameOver() : '';
    },
    addLetter: function() {
      this.ansArr.push(this.answer)
      this.correctLetters = this.ansArr.join('')
      this.answer = '';
      this.err = false;
    },
    reset: function() {
      this.err = false;
      this.answer = '';
      this.ansArr = [];
      this.correctLetters = '';
      this.mistakes = 0;
    },
    correctMistakes: function() {
      this.missAnswers = true;
      this.currentWordEN = this.resWord[this.missAnsArr[0]].en.toLowerCase();
      this.currentWordPL = this.resWord[this.missAnsArr[0]].pl;
      this.missAnsArr.splice(0, 1);
      this.addLetter();
      this.needHelp = false;
      setTimeout(() => this.reset(), 300)
    },
    lvlUp: function() {
      this.missAnswers = false;
      this.countWord = `${this.lvl}1`;
      this.lvl++;
      this.lastNumberLvl = this.lvl.toString();
      this.lastNumberLvl = this.lastNumberLvl[this.lastNumberLvl.length-1];
      setTimeout(() => this.reset(),300);
    },
    genWord: function() {
      this.currentWordPL = this.resWord[this.countWord].pl
      this.currentWordEN = this.resWord[this.countWord].en.toLowerCase();
    },
    help: function() {
      this.needHelp = true;
      this.helpAns = this.currentWordEN.split('');
      for(let i in this.helpAns) {
        if(i % 2 != 0) {
          this.helpAns[i] = ' _ '
        }
      }
      this.helpAns = this.helpAns.join('').toLowerCase();
    },
    addSpace: function() {
      this.currentWordPL = this.currentWordPL.replace('.', ' ');
    },
    nextDay: function() {
      this.day++;
    },
    getLastNumber: function() {
      this.lastNumberLvl = localStorage.getItem('lvl').toString();
    }
  },
  computed:  {
    check: function() {
      if(this.resWord) {
        if(!this.missAnswers) { // generate next word if !missAnswers
          this.genWord();
        }
        if(this.currentWordPL.includes('.')) { // add spaces
          this.addSpace();
        }
        return this.currWordArrEN = this.currentWordEN.split('');
      }
      return 0
    },
    days() {
      if(localStorage.getItem('lvl')) {
        this.getLastNumber()
      }
      if(this.lastNumberLvl[this.lastNumberLvl.length-1] == 0) {
        this.nextDay();
      }
      return this.day;
    },
  },
  mounted() {
    if(localStorage.getItem('countWord')) {
      this.countWord = localStorage.getItem('countWord');
    }

    if(localStorage.getItem('lvl')) {
      this.lastNumberLvl = localStorage.getItem('lvl').toString();
      this.lastNumberLvl = this.lastNumberLvl[this.lastNumberLvl.length-1];
      this.lvl = localStorage.getItem('lvl');
    }
    localStorage.clear();
  }

}
</script>
<style scoped>
  .write-word {
    width: 80%;
    padding: 20px;
    margin: 20vh auto 0 auto;
  }

  h1 {
    font-size: 80px;
    color: #B0FC23;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 80px;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    font-weight: 300;
  }

  button {
    border: 0;
    background-color: #212121;
    padding: 10px;
    margin: 30px;
    color: #B0FC23;
  }

  input[type="text"] {
    border: none;
    background: none;
    color: white;
    font-size: 60px;

  }

  .cold-class {
    border-bottom: 3px solid #B0FC23;
    width: 80vh;
  }

  .answer-container {
    display: flex;
  }

  .err-class {
    border-bottom: 3px solid red;
    width: 80vh;
  }

  .lvl {
    display: inline-block;
    position: absolute;
    margin: 15px 0;
  }

  .lvl-up-message {
    position: absolute;
    background: #212121;
    border-right: 3px solid #B0FC23;
    padding: 50px 20px;
    max-width: 80vh;
    margin: 0 auto;
    top: 25vh;
    left: -150vh;
    transition: 0.4s linear;
  }

  .congrats {
    left: 20px;
    transition: 0.4s linear;
  }

  @media screen and (max-width: 764px) {
    h1 {
      font-size: 10vw;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 8vw;
      padding-top: 20px;
    }

    input[type="text"] {
      font-size: 20px;
    }

    .answer-container {
      padding: 10px 0
    }
  }
</style>
