<template>
  <div class="one-word">
    <div class="" v-if="resWord">
      <h1>{{ resWord[currWord].en }}</h1>
      <h2 v-if="addSpaces">{{ currWordPL }}</h2>
      <button type="button" name="button" @click="currWord > 1 ? currWord-- : currWord = 1"> Poprzednie</button>
      <button type="button" name="button" @click="currWord < resWord.length-1 ? currWord++ : currWord = 0">Następne </button>
      <template v-if="currWord > 0">
        <p>Przejrzałeś/aś {{ currWord+1 < 5 && currWord+1 > 1 ? currWord+1 + ' słówka' : currWord+1  + ' słówek' }} z {{ resWord.length }}</p>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'one-word',
  props: ['resWord'],
  data: function() {
    return {
      currWord: 0,
      currWordPL: '',
      allWords: '',
    }
  },
  methods: {
  },
  mounted() {
    if(localStorage.getItem('currWord') > 1) {
      this.currWord = localStorage.getItem('currWord');
    }
  },
  computed: {
    addSpaces() {
      if(this.resWord) {
        if(this.resWord[this.currWord].pl.includes('.')) { // add spaces
          return this.currWordPL = this.resWord[this.currWord].pl.replace('.', ' ');
        } else {
          return this.currWordPL = this.resWord[this.currWord].pl;
        }
      }
    }
  },
  mouted() {
    this.allWords = this.resWord.length-1
  },
  watch: {
    currWord: {
      handler() { localStorage.setItem('currWord', this.currWord); },
      deep: true,
    }
  }
}
</script>
<style scoped>
  .one-word {
    width: 80%;
    border-bottom: 5px solid #B0FC23;
    padding: 20px;
    margin: 20vh auto 0 auto;
  }

  h1 {
    font-size: 80px;
    color: #B0FC23;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 60px;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    font-weight: 300;
  }

  button {
    border: 0;
    background-color: #212121;
    padding: 15px;
    margin: 20px;
    color: #B0FC23;
    border: 2px solid #B0FC23;
  }

  @media screen and (max-width: 764px) {
    h1 {
      font-size: 10vw;
    }

    h2 {
      font-size: 8vw;
      padding-top: 20px;
    }
  }
</style>
