<template>
  <div class="random-word">
      <div v-if="resWord" class="container">
        <h1 v-if="load">{{ currWordEN }}</h1>
        <h2 v-if="addSpaces">{{ currWordPL }}</h2>
      </div>
      <p class="browser-settings">Ustaw mnie jako stronę każdej nowej karty w przeglądarce! 💛</p>
      <p class="description">Strona stworzona do efektywnej nauki słów z języka angielskiego.</p>
  </div>
</template>

<script>
export default {
  name: 'random-word',
  props: ['resWord'],
  data: function() {
    return {
      randomWord: '',
      currWordPL: '',
      currWordEN: ''
    }
  },
  methods: {
  },
  computed: {
    load: function() {
      if(this.resWord) {
        this.randomWord = Math.floor(Math.random() * this.resWord.length);
        this.currWordEN = this.resWord[this.randomWord].en;
        return this.currWordEN;
      }
    },
    addSpaces: function() {
      if(this.resWord) {
        if(this.resWord[this.randomWord].pl.includes('.')) { // add spaces
          return this.currWordPL = this.resWord[this.randomWord].pl.replace('.', ' ');
        } else {
          return this.currWordPL = this.resWord[this.randomWord].pl;
        }
      }
    }
  },
  mounted() {

  }
}
</script>
<style scoped>
  .random-word {
    width: 80%;
    padding: 20px;
    margin: 20vh auto 0 auto;
  }

  .container {
    border-bottom: 5px solid #B0FC23;
  }

  h1 {
    font-size: 80px;
    color: #B0FC23;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 60px;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-weight: 300;
  }

  button {
    border: 0;
    background-color: #212121;
    padding: 10px;
    margin: 30px;
    color: #B0FC23;
  }

  .browser-settings {
    font-size: 14px;
    color: #B0FC23;
  }

  .description {
    font-size: 18px;
    line-height: 1.5;
    padding-top: 20px;
    max-width: 60%;
  }

  @media screen and (max-width: 764px) {
    h1 {
      font-size: 10vw;
    }

    h2 {
      font-size: 8vw;
      padding-top: 20px;
    }
  }
</style>
