<template>
  <div id="app">
    <nav>
      <router-link to="/">Strona główna</router-link>
      <router-link to="/view">Przeglądaj</router-link>
      <router-link to="/30days">30 Days Challenge</router-link>
    </nav>
      <router-view :resWord="resWord"/>
    <p class="credits">Made by<a class="name" href="#"> Piotr K</a></p>
  </div>
</template>

<script>
import OneWord from './components/oneWord.vue';
import RandomWord from './components/randomWord.vue';
import Challenge from './components/30days.vue';
import Vue from 'vue';


export default {
  name: 'app',
  components: {
    OneWord,
    RandomWord,
    Challenge
  },
  data: function() {
    return {
      resWord: null,

      }
    },
  mounted() {
    axios.get(`./api/datatest.json`)
      .then(res => {
        this.resWord = res.data;
      })
      .catch(err => {
        console.log(err);
      })
    }
  }
</script>

<style>
body {
  background-color: #212121;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: white;
  margin-top: 20px;
}

p {
  font-size: 24px;
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.router-link-exact-active {
  border-bottom: 3px solid #B0FC23;
}

*:focus {
outline: 0;
}

.credits {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 15px;
}

.name {
  padding: 0;
  color: #B0FC23;
  font-weight: 700;
}

@media screen and (max-width: 764px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
</style>
